*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    background-image: url('./images/banner-img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.carMargin{
    margin-top: 25rem;
}
